
.calcContainer{
    width: 25ex;
    height: 35ex;
    border: 10px solid rgb(87, 51, 55);
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    background-color: #8B575C;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size:  1.5em;
    display: grid;
}
.equationWindow{
    background-color: rgb(243, 252, 248);
    border-radius: 5px;
    border: 8px solid rgb(82, 77, 73);
    padding: 5px;
    margin: 5px;
    margin-bottom: 3px;
    text-align: left;
}
.currNumWindow{
    background-color: #F4F4F4;
    border-radius: 5px;
    border: 8px solid rgb(70, 66, 63);
    padding: 10px;
    margin: 5px;
    margin-top:3px;
    margin-bottom: 10px;
}
.table{
    display: grid;
    align-items: stretch;
    position: relative;
    height: auto;
    justify-content: stretch;	
    border-style: button;
}
.row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.numeral{
    display: table-cell;
    background-color: #F6BDD1;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    border-style: solid;
}
.numeral:hover{
    box-shadow: 4px 4px rgb(182, 142, 156);
}
.operator{
    display: grid;
    background-color: #C98986;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    border-style: button;
}
.operator:hover{
    box-shadow: 4px 4px rgb(139, 89, 87);
}
.operator#eq {
    background-color: rgb(108, 180, 14);
    border-color: rgb(108, 180, 14);
    padding-left: 5%;
    padding-right: 5%;
    align-self: right;
    margin-bottom: 10px;
}
.operator#eq:hover{
    box-shadow: 4px 4px rgb(70, 117, 9);
}
